<?xml version="1.0" encoding="UTF-8" ?>
<suite name="这是我自己写的测试套件">
    <test name="这是测试模块">
        <classes>
            <class name="com.testcase.userTestCase"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
        <listener class-name="com.utils.ExtentTestngREportListener"/>
    </listeners>
</suite>